@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="row">
    <div class="col-md-7 d-flex align-items-center justify-content-center px-0">
        @* For images visit https://pixabay.com/collections/dual-tone-icon-set-927933/?pagi=1 *@
        <img src="~/img/help-6486234.svg" class="w-50 rounded-circle mx-auto d-block" alt="Forgot your password?" />
    </div>

    <div class="col-md-5 d-flex align-items-center justify-content-center px-0 py-4">
        <div class="d-block w-100">
        <h2>@ViewData["Title"]</h2>

        <form asp-action="ForgotPassword" method="post">
            <h3>Enter your email.</h3>
            @*
            Summarize the error messages from all validation controls and display them in a bullet-ed list.
            If your validation-summary=modelOnly, general errors that are not specific to any one property will be showed.
            *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* User's e-mail address *@
            <div class="form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true"/>
            </div>
            <span asp-validation-for="Email" class="form-control-validation text-danger"></span>

            <div class="form-actions">
                <button type="submit" class="w-50 btn btn-primary btn-lg">Reset Password</button>
            </div>
        </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
