@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to School Stage</h1>
    <p>My first project with ASP.NET Core (.NET 6) leaving from the basics structure to build a simple CRUD website.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <vc:hello-world count="1"></vc:hello-world>
</div>
