:root {
    --form-label-min-width: 8rem;
}
@media (min-width: 768px) {
    :root {
        --form-label-min-width: 10rem;
    }
}

html {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 3rem;
}

.form-group,
.form-actions {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
.form-actions {
    justify-content: flex-end;
}
.form-group > label,
.form-group > input,
.form-group > select,
.form-group > textarea {
    padding: 0.25rem
}
.form-group > input,
.form-group > select,
.form-group > textarea {
    flex-grow: 2;
}
.form-group > label {
    min-width: var(--form-label-min-width);
}

.form-control-validation {
    display: block;
    margin-left: calc(var(--form-label-min-width) + 0.5rem);
}

.form-check-label {
    margin-left: 1.5rem;
}

button,
.btn {
    text-transform: uppercase;
    width: 150px;
}
.btn-in-row {
    height: 32px;
    width: 32px
}
.btn-in-row > .bi::before {
    /* To center <i> (image) in <a> (anchor) button */
    display: flex;
    line-height: 0.5rem;
    justify-content: center;
}

@media (max-width: 576px) {
    .form-group {
        flex-flow: column wrap;
    }

    .form-actions {
        margin-top: 0.5rem;
    }

    .form-group > label {
        min-width: 0;
    }

    .form-control-validatio {
        margin-left: 0.5rem;
    }

    .form-group > input,
    .form-group > select,
    .form-group > textarea {
        flex-grow: 1;
        min-width: 0;
        width: 100%;
    }
}